$THRN_BLACK: #000000;
$THRN_BLACK_GRAY: #181818;
$THRN_DARK_GRAY: #363636;

$THRN_SILVER: #A0A0A0;
$THRN_GRAY: #B0B0B0;
$THRN_OFF_SILVER: #C3C3C3;

$THRN_WHITE_GRAY: #E1E1E1;
$THRN_WHITE: #FFFFFF;
$THRN_WHITE_ALPHA: rgba(255, 255, 255, 0.2);

