$THRN_BLACK: #000000;
$THRN_BLACK_GRAY: #181818;
$THRN_DARK_GRAY: #363636;

$THRN_DARK_SILVER: #808080;
$THRN_SILVER: #A0A0A0;
$THRN_GRAY: #B0B0B0;

$THRN_LIGHT_GRAY: #C3C3C3;
$THRN_WHITE_GRAY: #E1E1E1;
$THRN_OFF_WHITE: #F6F6F6;
$THRN_WHITE: #FFFFFF;
$THRN_WHITE_ALPHA: rgba(255, 255, 255, 0.2);

$THRN_ERROR_RED: #F44242;
$THRN_TABLE_GREEN: #036303;
$THRN_RED: #990000;
$THRN_ORANGE: #993F00;
$THRN_YELLOW: #998E00;
$THRN_GREEN: #029900;
$THRN_TEAL: #008c99;
$THRN_BLUE: #070056;
$THRN_DARK_BLUE: #010028;
$THRN_PURPLE: #470099;
$THRN_PINK: #990082;

$SCREEN_WIDTH_SM: 768px;
