@import './../constants.scss';
@import './../mixins.scss';

.thrn-admin-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  overflow-y: hidden;

  > .thrn-sidenav {
  }
  > .thrn-admin-main {
    width: 100%;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
  }
}

/* Create button */

.thrn-create-button {
  margin-bottom: 10px;
  @include thrn-button(200px, 40px, $THRN_DARK_GRAY, $THRN_WHITE);
}

/* Nav tabs */

// The container beneath nav tabs
.thrn-admin-container {
  background-color: $THRN_OFF_WHITE;
}

.thrn-nav-tab-container {
  // This cascade of displays overrides what's in bootstrap.css to get the tabs
  // to display correctly inside a div
  display: flex;
  > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    > li {
      display: block;
      > a {
        display: inline-block;
      }
    }
  }
}

.thrn-nav-view-container {
  padding: 10px;
  background-color: $THRN_WHITE;
}
