@import './../constants.scss';
@import './../mixins.scss';

.thrn-admin-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  overflow-y: hidden;

  > .thrn-sidenav {
  }
  > .thrn-admin-main {
    width: 100%;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
  }
}

/* Create button */

.thrn-create-button {
  margin-bottom: 10px;
  @include thrn-button(200px, 40px, $THRN_DARK_GRAY, $THRN_WHITE);
}

