@import './../constants.scss';
@import './../mixins.scss';

/* The Modal (background) */
.thrn-modal-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.thrn-modal {
  width: 60%;
  max-height: 80%;
  margin: 5% auto;
  color: $THRN_DARK_GRAY;

  background-color: $THRN_WHITE;
  border: 1px solid $THRN_WHITE_GRAY;
}

.thrn-modal-background.show {
  display: block;
}

/* Modal component styles */

.thrn-modal {
  display: flex;
  flex-direction: column;

  .thrn-modal-header {
    flex: 0 0 60px;
    width: 100%;
    border-bottom: 1px solid $THRN_LIGHT_GRAY;
  }

  .thrn-modal-body {
    height: 100%;
    width: 100%;
  }

  .thrn-modal-footer {
    flex: 0 0 80px;
    width: 100%;
    border-top: 1px solid $THRN_LIGHT_GRAY;
  }
}

.thrn-modal-header {
  font-size: 1.2em;
  font-weight: 900;
  background-color: $THRN_WHITE_GRAY;

  display: flex;
  justify-content: center;
  align-items: center;
}

.thrn-modal-body {
  display: flex;
  flex-direction: row;

  .modal-body-section {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    overflow-y: auto;

    .modal-input-field {
      padding: 5px;

      > .modal-input-title {
        color: $THRN_GRAY;
        font-size: 0.8em;
        font-weight: 900;
      }
      input {
        border: 1px solid $THRN_GRAY;
        border-radius: 5px;
        padding: 5px;
        font-size: 0.9em;
      }
    }
  }
}

// Same as in modals/create.scss
.thrn-modal-footer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  .modal-footer-button {
    position: absolute;
    width: 170px;
    height: 20px;
    padding: 10px;
    border: 1px solid $THRN_DARK_GRAY;
    border-radius: 5px;

    @include hvr-fade($THRN_LIGHT_GRAY, $THRN_DARK_GRAY);

    //position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      position: absolute;
      left: 10px;
      font-size: 20px;
    }
  }
  .modal-footer-button.left {
    left: 10px;
  }
  .modal-footer-button.right {
    right: 10px;
  }
}

/* Autosuggest input box */
// Example from here: http://react-autosuggest.js.org/
//                    http://codepen.io/moroshko/pen/LGNJMy
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  width: 400px;
  position: fixed;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.suggestion-container {
  font-size: 0.8em;
  height: 40px;
  position: relative;

  img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .suggestion-text {
    font-weight: 900;
    position: absolute;
    left: 50px;
    top: 0px;
  }
  .suggestion-subtext {
    color: $THRN_GRAY;
    position: absolute;
    left: 50px;
    bottom: 0px;
  }
}
